In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv', skiprows=13)

In [3]:
df.head()

   Meter Number       Date Start Time  Duration  Consumption  Generation   Net
0       6156857  10/6/2021   12:00 AM        60         0.12         NaN  0.12
1       6156857  10/6/2021    1:00 AM        60         0.12         NaN  0.12
2       6156857  10/6/2021    2:00 AM        60         0.12         NaN  0.12
3       6156857  10/6/2021    3:00 AM        60         0.12         NaN  0.12
4       6156857  10/6/2021    4:00 AM        60         0.12         NaN  0.12